<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Title</title>
</head>
<body>

<h1>Form</h1>
<form action="#" th:action="@{/hero/1/add}" th:object="${hero}" method="post">
    <p>Attack: <input type="number" th:field="*{attack}"></p>
    <p>Defense: <input type="number" th:field="*{defence}"></p>
    <p>Power: <input type="number" th:field="*{power}"></p>
    <p>Knowledge: <input type="number" th:field="*{knowledge}"></p>
    <p><input type="submit" value="Set Hero One"></p>
</form>

<form action="#" th:action="@{/hero/2/add}" th:object="${hero}" method="post">
    <p>Attack: <input type="number" th:field="*{attack}"></p>
    <p>Defense: <input type="number" th:field="*{defence}"></p>
    <p>Power: <input type="number" th:field="*{power}"></p>
    <p>Knowledge: <input type="number" th:field="*{knowledge}"></p>
    <p><input type="submit" value="Set Hero Two"></p>
</form>


</body>
</html>